name: Preview {{cookiecutter.__project_slug}} documentation build

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency: {% raw %}preview-${{ github.ref }}{% endraw %}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Poetry
        run: pipx install poetry

      - name: Install dependencies
        run: poetry install -E docs

      - name: Build documentation
        run: |
          mkdir -p site
          touch site/.nojekyll
          make gendoc
          ([ ! -f docs/about.md ] && cp src/docs/about.md docs/) || true
          poetry run mkdocs build -d site

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: site/
          preview-branch: gh-pages
